* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(215, 170, 144);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}